.City_TXT {
    position: absolute;
    width: 40%;
    height: auto;
    left: 15%;
    top: 5vw;
    color: #dbdbdb;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

.Settlement_TXT {
    position: absolute;
    width: 40%;
    height: auto;
    left: 15%;
    top: 8%;
    color: #ffffff;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}


.Forcast {
    position: absolute;
    width: 25%;
    height: auto;
    left: 30%;
    top: 0%;
}

.HumidityIco {
    position: absolute;
    z-index: 1;
    left: 5%;
    top: 4vw;
    width: 4%;
    height: auto;
}

.HumidityTXT {
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 2.7vw;
    font-size: 1.5vw;
    color: #f0f1f1;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.7;
}

.Humidity {
    position: absolute;
    z-index: 1;
    left: 9%;
    top: 4vw;
    font-size: 3vw;
    text-align: center;
    color: #f0f1f1;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.9;
}

.Sunrise{
    position: absolute;
    color: #f0f1f1;
    font-size: 1.5vw;
    left: 2.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    opacity: 0.9;
}

.Sunset{
    position: absolute;
    color: #f0f1f1;
    font-size: 1.5vw;
    left: 84%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.9;
}


.BG {
    background: #0b131e;
}

.Temperature {
    position: absolute;
    left: 15%;
    top: calc(22% + 3vw);
    font-size: 3vw;
    color: #f0f1f1;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.chanceOfRain {
    position: absolute;
    left: 15%;
    top: calc(12% + 6vh);
    font-size: 1vw;
    color: #8e939b;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}


.Info {
    position: relative;
    width: 50%;
    height: 46.4vh;
    background-color: #202b3b;
    margin: 2%;
    border-radius: 20px;
    left: 33%;
    transform: translate(-50%, 99%);
    opacity: 1;
}
  
.line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}
  
.sun-moon-container {
    position: relative;
    width: 64%;
    height: 80px;
    left: 9vw;
    overflow: hidden;
}

.Sun-Moon-ProgressBarAndText {
    scale: 80%;
    display: flex;
    top: calc(50% + 10vh);
    position: relative;
    align-items: center;
}

.sun {
    position: absolute;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle at 50% 50%, #fffacd, #ffd700, #ff8c00);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 140, 0, 0.6);
    top: 30%;
    left: 0%;
    z-index: 1;
}

  
  .moon {
    position: absolute;
    top: 25px;
    left: 0%;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle at 40% 40%, rgba(255, 255, 255), rgba(200, 200, 200, 0.9) 70%, rgba(150, 150, 150, 0.6) 85%, transparent 100%);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    z-index: 1;
}



.MobileHumidity {
    position: relative;
    width: 41%;
    height: 17vh;
    background-color:rgba(32, 43, 59, 0.3);
    margin: 2%;
    border-radius: 20px;
    left: 3vw;
    top: 350px;
    display: none;
}


.Menu {
    position: absolute;
    width: 6%;
    height: 93vh;
    background-color: #202b3b;
    margin: 2%;
    border-radius: 20px;
    left: 3%;
    top: 46%;
    transform: translate(-50%, -50%);
}

.FeelsLike{
    position: absolute;
    z-index: 1;
    left: 45%;
    top: 3.2vw;
    font-size: 3vw;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.9;
}

.FeelsLikeTXT{
    position: absolute;
    z-index: 1;
    left: 43%;
    top: 2.7vw;
    font-size: 1.5vw;
    color: #f0f1f1;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.7;
}

.Pressure{
    position: absolute;
    z-index: 1;
    left: 75%;
    top: 3.5vw;
    font-size: 3vw;
    text-align: center;
    color: #f0f1f1;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.9;
}

.PressureTXT{
    position: absolute;
    z-index: 1;
    left: 74%;
    top: 2.7vw;
    font-size: 1.5vw;
    color: #f0f1f1;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.7;
}

.PressureUnit{
    position: absolute;
    z-index: 1;
    left: 86%;
    top: 7.2vw;
    font-size: 1vw;
    color: #f0f1f1;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.7;
}

.BGimage img {
    position: absolute;
    width: 40%;
    height: auto;
    left: 30%;
    top: 5%;
    background-color: transparent;
    border: none;
}

.City img {
    position: absolute;
    width: 40%;
    height: auto;
    left: 30%;
    top: 25%;
    color: transparent;
    border: none;
}

.AdditionalInfo {
    border: 1px;
    border-radius: 20px;
    float: right;
    margin-right: 3%;
    width: 33vw;
    height: 44vh;
    font-size: 1.5vw;
}

.Weather-Desc{
    border: 1px;
    background-color: #202b3b;
    border-radius: 20px;
    width: 29vw;
    height: 11vh;
    margin-left: 2vw;
    align-content: center;
    color: #ffffff;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Battery{
    float: left;
    border: 1px;
    background-color: #202b3b;
    border-radius: 20px;
    width: 14vw;
    height: 8vw;
    margin-left: 2vw;
    color: #c7c7c7;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Voltage{
    float: inline-start;
    border: 1px;
    background-color: #202b3b;
    border-radius: 20px;
    width: 14vw;
    height: 8vw;
    margin-left: 1vw;
    color: #c7c7c7;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.LastUpdate{
    border: 1px;
    background-color: #202b3b;
    border-radius: 20px;
    width: 29vw;
    height: 11vh;
    margin-left: 2vw;
    color: #f0f1f1;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Hour{
    float: left;
    color: #c7c7c7;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Divider{
    float: inline-start;
    color: #c7c7c7;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Minute{
    float: inline-start;
    color: #c7c7c7;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.MobileInfo{
    display: none;
}

.line2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}

.sun2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle at 50% 50%, #fffacd, #ffd700, #ff8c00);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 140, 0, 0.6);
    top: 30%;
    left: 0%;
    z-index: 1;
}

  
.moon2 {
    position: absolute;
    top: 25px;
    left: 0%;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle at 40% 40%, rgba(255, 255, 255), rgba(200, 200, 200, 0.9) 70%, rgba(150, 150, 150, 0.6) 85%, transparent 100%);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/* @media screen and (max-width: 500px) and (max-height: 1000px) {
    .Menu {
        display: none;
    }
    .BG {
        background: linear-gradient(to bottom right, #333e6b, #566096);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .Temperature {
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: calc(35% + 1vw);
        font-size: 10vw;
        text-align: center;
        display: inline-block;
    }
    .chanceOfRain {
        left: 38%;
        top: calc(5% + 10vw);
        font-size: 3vw;
    }
    .City_TXT {
        font-size: 4vw;
        left: 32%;
        top: 1%;
    }
    .FeelsLike{
        position: absolute;
        z-index: 1;
        left: 45%;
        top: 3.2vw;
        font-size: 3vw;
        text-align: center;
        color: #f0f1f1;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        opacity: 0.9;
        display: block;
    }

    .Settlement_TXT {
        font-size: 10vw;
        left: 32%;
        top: 0%;
    }

    .Forcast {
        width: 60%;
        height: auto;
        left: 20%;
        top: calc(5% + 10vw);
    }

    .HumidityIco {
        left: 15%;
        top: 6vw;
        width: 10%;
    }
    
    .HumidityTXT {
        left: 30%;
        top: 2vw;
        font-size: 4vw;
    }
    
    .Humidity {
        left: 28%;
        top: 30%;
        font-size: 7vw;
    }

    .Info {
        display: none;
    }

    .MobileHumidity {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .AdditionalInfo {
        display: none;
    }
    .MobileInfo{
        display: block;
        height: 100vh;
    }

    .MobilePressure{
        position: relative;
        width: 41%;
        height: 17vh;
        background-color:rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        transform: translate(5%, 145%);
    }

    .MobileFeelsLike{
        position: relative;
        width: 41%;
        height: 17dvh;
        background-color:rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        transform: translate(130%, 133%);
    }

    .MobileSunMoon{
        position: relative;
        width: 92%;
        height: 17dvh;
        background-color:rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        transform: translate(2%, 24dvh);
        align-items: center;
    }

    .MobileSunMoon .sun-moon-container{
        position: relative;
        top: 18%;
        left: 22%;
        width: 49vw;
    }

    .MobileSunMoon .Sunrise{
        top: 32%;
        left: 2%;
        font-size: 4vw;
        position: absolute;
    }

    .MobileSunMoon .Sunset{
        top: 32%;
        left: 78%;
        font-size: 4vw;
        position: absolute;
    }

    
} */

@media screen and (max-width: 500px) {
    .Menu {
        display: none;
    }
    .BG {
        background: linear-gradient(to bottom right, #333e6b, #566096);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .Temperature {
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 250px;
        font-size: 10vw;
        text-align: center;
        display: inline-block;
    }
    .chanceOfRain {
        left: 38%;
        top: 70px;
        font-size: 3vw;
    }
    .City_TXT {
        font-size: 4vw;
        left: 32%;
        top: 1%;
    }

    .FeelsLikeTXT {
        left: 30%;
        top: 2vw;
        font-size: 4vw;
    }
    .Settlement_TXT {
        font-size: 10vw;
        left: 32%;
        top: 0%;
    }
    .Forcast {
        width: 60%;
        height: auto;
        left: 20%;
        top: 30px;
    }
    .HumidityIco {
        left: 15%;
        top: 6vw;
        width: 10%;
    }
    .HumidityTXT {
        left: 30%;
        top: 2vw;
        font-size: 4vw;
    }
    .Humidity {
        left: 28%;
        top: 30%;
        font-size: 7vw;
    }
    .Info {
        display: none;
    }
    .MobileHumidity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 120px;
    }
    .AdditionalInfo {
        display: none;
    }
    .MobileInfo {
        display: block;
        border: 1px solid red;
    }
    .MobilePressure {
        position: relative;
        width: 41%;
        height: 17vh; /* Keep the height fixed to 17vh */
        background-color: rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        transform: translate(5%, 145%);
    }
    .MobileFeelsLike {
        position: absolute;
        width: 180px;
        height: 120px;
        background-color:rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
    }
    .MobileSunMoon {
        position: absolute;
        width: 91%;
        height: 17vh; /* Keep the height fixed to 17vh */
        background-color: rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        top: 500px;
        align-items: center;
    }
    .MobileSunMoon .sun-moon-container {
        position: relative;
        top: 18%;
        left: 22%;
        width: 49vw;
    }
    .MobileSunMoon .Sunrise {
        top: 32%;
        left: 2%;
        font-size: 4vw;
        position: absolute;
    }
    .MobileSunMoon .Sunset {
        top: 32%;
        left: 78%;
        font-size: 4vw;
        position: absolute;
    }

    .FeelsLike{
        position: relative;
        z-index: 1;
        left: 35%;
        top: 9vw;
        font-size: 7vw;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
    }
}

@media screen and (max-width: 460px) {
    .Forcast {
        top: 50px;
    }


}

@media screen and (max-width: 450px) {
    .MobileFeelsLike {
        position: absolute;
        width: 43%;
        height: 120px;
        background-color:rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        right: 3vw;
        top: 360px;
    }

    .MobileHumidity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        left: 1vw;
        height: 120px;
    }


}

@media screen and (max-width: 400px) {
    .Forcast {
        top: 60px;
    }
    .MobileFeelsLike {
        position: absolute;
        width: 45%;
        height: 120px;
        background-color:rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        right: 2vw;
        top: 360px;
    }

    .MobileHumidity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        left: 1vw;
        height: 120px;
    }

}

@media screen and (max-width: 360px) {
    .MobileFeelsLike {
        position: absolute;
        width: 43%;
        height: 120px;
        background-color:rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        right: 5vw;
        top: 360px;
    }

    .MobileHumidity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        left: -2vw;
        height: 120px;
    }

    .MobileSunMoon {
        position: absolute;
        width: 91%;
        height: 17vh;
        left: 0%;
        background-color: rgba(32, 43, 59, 0.3);
        margin: 2%;
        border-radius: 20px;
        top: 490px;
        align-items: center;
    }

}