

.BGimage {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Set a lower z-index to place it below the circular chart */
}

.City {
  position: absolute;
  z-index: 1;
  font-weight: bold;
  font-size: 180px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top: 4%;
  left: 50%;
  opacity: 0.7;
}


.circle1 {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  left: 10%;
  top: 25%;
  background-color: rgba(36, 149, 73, 0.7);
}


circle {
  position: relative;
  z-index: 6;
  fill: none;
  stroke: #2ecc71;
  stroke-width: 29;
  stroke-linecap: round;
 }


 .vertical-line {
  position: absolute;
  border-left: 1px solid #035F50;
  height: 30%;
  left: 20%;
  top: 60%;
  transform: translateX(-50%);
}



.Temperature {
  position: absolute;
  z-index: 5;
  text-align: center;
  color: white;
  top: 14%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 110px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rectangle {
  position: absolute;
  z-index: 4;
  height: 150px;
  width: 450px;
  left: -10%;
  top: 70%;
  background-color: #012120; /* Fixed color */
}

.circle {
  position: absolute;
  z-index: 3;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #25845A;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle3 {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: 5%;
  top: 65%;
  background-color: rgba(36, 149, 73, 0.7);
}

.circle2 {
  position: absolute;
  z-index: 3;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: #25845A;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.circle5 {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: 25%;
  top: 65%;
  background-color: rgba(36, 149, 73, 0.7);
}

.circle4 {
  position: absolute;
  z-index: 3;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: #25845A;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.HumPres {
  position: absolute;
  z-index: 5;
  text-align: center;
  color: white;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Humidity{
  position: absolute;
  z-index: 5;
  text-align: center;
  color: white;
  top:17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 65px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}