@media screen and (max-width: 500px) {
    .Menu {
        display: none;
    }
    .BG {
        background: linear-gradient(to bottom right, #262d47, #566096);
        background-size: cover;
        background-attachment: fixed;
        height: 120dvh;
        width: auto;
    }
    .Temperature {
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 250px;
        font-size: 10vw;
        text-align: center;
        display: inline-block;
    }
    .chanceOfRain {
        left: 38%;
        top: 70px;
        font-size: 3vw;
    }
    .City_TXT {
        font-size: 4vw;
        left: 32%;
        top: 1%;
    }
    .FeelsLikeTXT {
        left: 30%;
        top: 2vw;
        font-size: 4vw;
    }
    .Settlement_TXT {
        font-size: 10vw;
        left: 32%;
        top: 0%;
    }
    .Forcast {
        width: 60%;
        height: auto;
        left: 20%;
        top: 50px;
    }
    .HumidityIco {
        left: 15%;
        top: 6vw;
        width: 10%;
    }
    .HumidityTXT {
        left: 30%;
        top: 2vw;
        font-size: 4vw;
    }
    .Humidity {
        left: 28%;
        top: 30%;
        font-size: 7vw;
    }
    .Info {
        display: none;
    }
    .MobileHumidity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 120px;
        left: 1vw;
        top: 370px;
    }
    .AdditionalInfo {
        display: none;
    }
    .MobileInfo {
        display: block;
    }
    .MobilePressure {
        position: relative;
        width: 43%;
        height: 120px;
        background-color: rgba(32, 43, 59, 0.2);
        margin: 2%;
        border-radius: 20px;
        left: 0vw;
        top: 510px;
        display: flex;
    }
    .MobilePressure .Pressure {
        position: relative;
        z-index: 1;
        left: 34%;
        top: 7vw;
        font-size: 7vw;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
    }
    .MobilePressure .PressureTXT {
        position: absolute;
        z-index: 1;
        left: 30%;
        top: 2vw;
        font-size: 4vw;
        color: #f0f1f1;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        opacity: 0.7;
    }
    .MobilePressure .PressureUnit {
        position: absolute;
        z-index: 1;
        left: 63%;
        top: 15vw;
        font-size: 3vw;
        color: #f0f1f1;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        opacity: 0.7;
    }
    .MobileFeelsLike {
        position: absolute;
        right: 3vw;
        top: 370px;
        width: 200px;
        height: 120px;
        background-color:rgba(32, 43, 59, 0.2);
        margin: 2%;
        border-radius: 20px;
        display: flex;
    }
    .MobileSunMoon {
        position: absolute;
        width: 91%;
        height: 130px;
        background-color: rgba(32, 43, 59, 0.2);
        margin: 2%;
        border-radius: 20px;
        top: 500px;
        align-items: center;
    }
    .MobileSunMoon .sun-moon-container {
        position: relative;
        top: 23%;
        left: 22%;
        width: 49vw;
    }
    .MobileSunMoon .Sunrise {
        top: 32%;
        left: 2%;
        font-size: 4vw;
        position: absolute;
    }
    .MobileSunMoon .Sunset {
        top: 32%;
        right: 2vw;
        font-size: 4vw;
        position: absolute;
        white-space: nowrap;
    }
    .FeelsLike {
        position: relative;
        z-index: 1;
        left: 34%;
        top: 6vw;
        font-size: 7vw;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media screen and (max-width: 460px) {
    .Forcast {
        top: 50px;
    }
}

@media screen and (max-width: 450px) {
    .MobileFeelsLike {
        width: 43%;
        height: 120px;
        right: 3vw;
    }
    .MobileHumidity {
        width: 45%;
        left: 1vw;
    }
    .FeelsLike {
        top: 9vw;
    }

    .MobileSunMoon .sun-moon-container {
        top: 22%;
    }
}

@media screen and (max-width: 400px) {
    .Forcast {
        top: 60px;
    }
    .MobileFeelsLike {
        width: 45%;
        right: 2vw;
    }
    .MobileHumidity {
        width: 45%;
        left: 0vw;
    }
    .MobilePressure {
        top: 513px;
    }
    .MobilePressure .Pressure {
        top: 10vw;
    }
    .MobilePressure .PressureUnit {
        top: 18vw;
    }
    .MobileSunMoon .sun-moon-container {
        top: 20%;
    }
}

@media screen and (max-width: 360px) {
    .MobileFeelsLike {
        width: 43%;
        top: 340px;
    }
    .MobileHumidity {
        width: 48%;
        top: 340px;
    }
    .MobileSunMoon {
        width: 91.5%;
        top: 470px;
    }
    .MobilePressure {
        width: 160px;
        top: 480px;
    }
    .MobileSunMoon .sun-moon-container {
        top: 18%;
    }
}
